%footer.main-footer
  .footer-left
    Copyright © 2021
    .bullet
    Web desenvolvido por
    %a{:href => "https://github.com/lougansjs"} Lougans de Matos
    |
    Design por
    %a{:href => "https://nauval.in/"} Muhamad Nauval Azhar
  .footer-right
    2.3.0
