.container-fluid.p-0
  %section.section
    .section-header
      %h1 Dashboard
    .row
      .col-lg-3.col-md-6.col-sm-6.col-12
        .card.card-statistic-1
          .card-icon.bg-primary
            %i.far.fa-user
          .card-wrap
            .card-header
              %h4 Administradores
            .card-body
              = @admins
      - if current_user.admin?
        .col-lg-3.col-md-6.col-sm-6.col-12
          .card.card-statistic-1
            .card-icon.bg-danger
              %i.far.fa-newspaper
            .card-wrap
              .card-header
                %h4 Notícias
              .card-body
                42
        .col-lg-3.col-md-6.col-sm-6.col-12
          .card.card-statistic-1
            .card-icon.bg-warning
              %i.far.fa-file
            .card-wrap
              .card-header
                %h4 Relatórios
              .card-body
                1,201
        .col-lg-3.col-md-6.col-sm-6.col-12
          .card.card-statistic-1
            .card-icon.bg-success
              %i.fas.fa-circle
            .card-wrap
              .card-header
                %h4 Usuários Online
              .card-body
                47